# Copy the Elastic Beanstalk environment properties to linux environment variables

files:
  "/home/ec2-user/extractEnvironment.py" :
    mode: "000755"
    owner: root
    group: root
    content: |
      import json,sys;
      obj=json.load(sys.stdin);
      f = open('/tmp/eb_env.sh', 'w');
      f.write('\n'.join(map(lambda x: 'export ' + x[0] + '=' + x[1], obj.iteritems())));

commands:
    01-extract-ebextensions:
        command: "unzip -o /opt/elasticbeanstalk/deploy/appsource/source_bundle .ebextensions/*  -d /tmp"
    02-generate-environment-from-eb-config:
        command: "/opt/elasticbeanstalk/bin/get-config environment | python /home/ec2-user/extractEnvironment.py"
    03-generate-environment-make-executable:
        command: "chmod +x /tmp/eb_env.sh"
    04-check-environment:
        command: "source /tmp/eb_env.sh ; echo Checking environment ; echo $AP_ENV"
