commands:
    01-configure-tomcat-generate-server-xml:
        command: "source /tmp/eb_env.sh ; xsltproc -o /tmp/server.xml $(< /tmp/.ebextensions/tomcat/conf/server_xml/$AP_ENV/xsl_params) /tmp/.ebextensions/tomcat/conf/update-server.xsl /etc/tomcat8/server.xml"
    02-configure-tomcat-copy-server-xml:
        command: "cp /tmp/server.xml /etc/tomcat8/server.xml"
    03-configure-tomcat-generate-context-xml:
        command: "xsltproc -o /tmp/context.xml /tmp/.ebextensions/tomcat/conf/update-context.xsl /etc/tomcat8/context.xml"
    04-configure-tomcat-copy-context-xml:
        command: "cp /tmp/context.xml /etc/tomcat8/context.xml"
