commands:
    01-configure-tomcat-generate-server-xml:
        command: "source /tmp/eb_env.sh ; cp -n $TOMCAT_CONF/server.xml $TOMCAT_CONF/server.xml.orig ; xsltproc -o /tmp/server.xml $(< /tmp/.ebextensions/tomcat/conf/server_xml/$AP_ENV/xsl_params) /tmp/.ebextensions/tomcat/conf/update-server.xsl $TOMCAT_CONF/server.xml.orig"
    02-configure-tomcat-copy-server-xml:
        command: "source /tmp/eb_env.sh ; cp /tmp/server.xml $TOMCAT_CONF/server.xml"
    03-configure-tomcat-generate-context-xml:
        command: "source /tmp/eb_env.sh ; cp -n $TOMCAT_CONF/context.xml $TOMCAT_CONF/context.xml.orig ; xsltproc -o /tmp/context.xml /tmp/.ebextensions/tomcat/conf/update-context.xsl $TOMCAT_CONF/context.xml.orig"
    04-configure-tomcat-copy-context-xml:
        command: "source /tmp/eb_env.sh ; cp /tmp/context.xml $TOMCAT_CONF/context.xml"
    05-configure-tomcat-catalina-properties:
        command: "source /tmp/eb_env.sh ; cp -n $TOMCAT_CONF/catalina.properties $TOMCAT_CONF/catalina.properties.orig ; cat $TOMCAT_CONF/catalina.properties.orig /tmp/.ebextensions/tomcat/conf/catalina_properties/$AP_ENV/catalina.properties > $TOMCAT_CONF/catalina.properties"
