commands:
    01-configure-tomcat-generate-server-xml:
        command: "xsltproc -o /tmp/server.xml /tmp/.ebextensions/update-server.xsl /usr/share/tomcat8/conf/server.xml"
    02-configure-tomcat-copy-server-xml:
        command: "cp /tmp/server.xml /usr/share/tomcat8/conf/server.xml"
    03-configure-tomcat-generate-context-xml:
        command: "xsltproc -o /tmp/context.xml /tmp/.ebextensions/update-context.xsl /usr/share/tomcat8/conf/context.xml"
    04-configure-tomcat-copy-context-xml:
        command: "cp /tmp/context.xml /usr/share/tomcat8/conf/context.xml"
